<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta de Repuesto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container-edit">
        <h1>Alta de Nuevo Repuesto</h1>
        <p><a th:href="@{/repuestos}" class="button back">Volver al Listado de Repuestos</a></p>

        <p th:if="${error}" class="error-message" th:text="${error}"></p>

        <form th:action="@{/repuesto/crear}" th:object="${repuesto}" method="post">
            <div>
                <label for="codigo">Código:</label>
                <input type="number" id="codigo" th:field="*{codigo}" min="1" max="20000" required>
            </div>
            <div>
                <label for="producto">Producto:</label>
                <input type="text" id="producto" maxlength="100" th:field="*{producto}" required>
            </div>
            <div>
                <label for="marca">Marca:</label>
                <input type="text" id="marca" maxlength="100" th:field="*{marca}" required>
            </div>
            <div>
                <label for="color">Color:</label>
                <input type="text" id="color" maxlength="50" th:field="*{color}" required>
            </div>
            <div>
                <label for="precioVenta">Precio Venta:</label>
                <input type="number" id="precioVenta" th:field="*{precioVenta}" required>
            </div>
            <div>
                <label for="precioCosto">Precio Costo:</label>
                <input type="number" id="precioCosto" th:field="*{precioCosto}" required>
            </div>
            <div>
                <label for="stock">Stock:</label>
                <input type="number" id="stock" th:field="*{stock}" required>
            </div>
            <button type="submit" class="button">Guardar Repuesto</button>
        </form>
    </div>
</body>
</html>